services:
  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PW}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - ./db_volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:8.9
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
    ports:
      - "5050:80"
    restart: always
    depends_on:
      - postgres

  # backend:
  #   container_name: backend
  #   image: safarajmanandhar/question-pro-grocery-booking-api

  #   environment:
  #     - DB_NAME=${DB_NAME}
  #     - DB_HOST=${DB_HOST}
  #     - DB_PW=${DB_PW}
  #     - DB_USER=${DB_USER}
  #     - DB_PORT=${DB_PORT}
  #     - JWT_SECRET=${JWT_SECRET}
  #     - DB_PORT=${DB_PORT}
  #     - DB_CLIENT=${DB_CLIENT}
  #   ports:
  #     - "${PORT}:${PORT}"
  #   command: bash -c "npm start"

  #   restart: always
  #   depends_on: [postgres]
